/* Custom Umum */
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

.text-center{
    text-align: center;
}

body{
    background-color: #dddee9;
}

/* Top Navigasi */
nav{
    position: sticky;
    top: 0;
    overflow: hidden;
    width: 100%;
}

.mobile-nav{
    width: 40%;
    margin: 0 auto;
    display: flex;
    font-size: 25px;
    background-color: #424874;
}

.mobile-nav a{
    color: #DCD6F7;
}

.logo{
    flex: 50%;
    padding: 10px 15px;
    text-align: left;
}

.user{
    flex: 50%;
    padding: 10px 15px;
    text-align: right;
}

/* Body Content */
.container{
    width: 40%;
    margin: 0 auto;
    font-size: 20px;
    overflow: hidden;
    min-height: 2000px;
}

.container a{
    color: #424874;
}

.row-menu{
    text-align: center;
    display: flex;
    justify-content: center;
}

.main-menu{
    flex-grow: 1;

    padding: 25px;
    margin: 15px;
    background-color: #fff;
    border-radius: 10px;

    -webkit-box-shadow: 2px 4px 14px -10px rgba(132,132,132,0.83); 
    box-shadow: 2px 4px 14px -10px rgba(132,132,132,0.83);
    -moz-box-shadow: 2px 4px 14px -10px rgba(132,132,132,0.83);
}

.row-content{
    width: 100%;
    margin-top: 10px;
}

/* Component Content */
.content{
    padding: 0px 0px 20px 0px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #DCD6F7;
    margin-bottom: 10px;
    overflow: hidden;
}

.line{
    background-color: #424874;
    height: 10px;
    border-radius: 20px 20px 0px 0px;
    margin: 0;
}

.bungkus-content{
    padding: 10px 20px 10px 20px;
}

.judul{
    margin-bottom: 15px;
}

.bungkus-content p{
    font-size: 15px;
}

/* Input Text */
input[type=text]{
    font-size: 14px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dddee9;
    outline: none;
    padding: 10px;
}

input[type=text]:hover{
    border-bottom: 1px solid #424874;
}

input[type=text]:focus {
    border-bottom: 1px solid #424874;
}

/* Input Radio */
input[type=radio]{
    margin-right: 5px;
    margin-bottom: 15px;
}

/* Input Checkbox */
input[type=checkbox]{
    margin-right: 5px;
    margin-bottom: 15px;
}

/* Form Group */
.form_group label{
    display: block;
    font-size: 15px;
    margin-bottom: 8px;
}

.form_group input{
    font-size: 15px;
    padding: 5px;
}

.form_group input:hover{
    border-color: 1px solid #424874;
    padding-left: 20px;
}

.form_group input:focus{
    padding-left: 20px;
}

/* Dropdown */
.dropdown{
    padding: 5px;
}

.dropdown option{
    padding: 10px;
}

/* Btn Reset */
button.buttonReset{
    outline: none;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    color: rgb(179, 179, 179);
    padding: 5px;
    float: right;
}

button.buttonReset:hover{
    background-color: rgb(243, 243, 243);
    border-radius: 3px;
}

/* Pilihan Ganda v2 */
.pilihan-gandav2{
    width: 100%;
    font-size: 15px;
    border-collapse: collapse;
}

.pilihan-gandav2 tr{
    border-bottom: 5px solid #fff;
}

.pilihan-gandav2 th{
    font-weight: normal;
    padding: 5px;
}

.pilihan-gandav2 tr td{
    background-color: rgb(243, 243, 243);
    padding: 15px;
}

.pilihan-gandav2 tr td input{
    margin: auto;
}

.jawab-singkat{
    width: 50%;
}

textarea{
    font-size: 14px;
    border: 1px solid #dddee9;
    outline: none;
    padding: 10px;
    width: 100%;
}

textarea:hover{
    border: 1px solid #424874;
}

textarea:focus{
    border: 1px solid #424874;
}

/* Bottom Menu */
footer{
    position: sticky;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.bottom-menu{
    width: 40%;
    margin: 15px auto;
    display: flex;
    font-size: 25px;
    background-color: #fff;
    padding: 10px 0;
    
    margin-bottom: 10px;
    border-radius: 50px;

    -webkit-box-shadow: 0px -6px 14px -10px rgba(132,132,132,0.83); 
    box-shadow: 0px -6px 14px -10px rgba(132,132,132,0.83);
    -moz-box-shadow: 0px -6px 14px -10px rgba(132,132,132,0.83);
}

.bottom-menu a{
    color: #424874;
}

.menu{
    margin: 0 auto;
}

/* Ukuran Smartphone XS */
@media screen and (max-width: 280px) {
    .container{
        width: 100%;
        margin: 0 auto;
        min-height: 2000px;
        font-size: 12px;
    }

    .main-menu{
        padding: 10px;
        margin: 10px;
    }

    .mobile-nav{
        width: 100%;
        margin: 0 auto;
        font-size: 15px;
    }

    .bottom-menu{
        width: 100%;
        margin: 15px auto;
        font-size: 20px;
    }

    /* Component Judul */
    .content{
        margin: 10px;
    }

    .jawab-singkat{
        width: 100%;
    }
}

/* Ukuran Smartphone S */
@media screen and (max-width: 320px) and (min-width: 281px) {
    .container{
        width: 100%;
        margin: 0 auto;
        min-height: 2000px;
        font-size: 12px;
    }

    .main-menu{
        padding: 15px;
        margin: 10px;
    }

    .mobile-nav{
        font-size: 20px;
        width: 100%;
        margin: 0 auto;
    }

    .bottom-menu{
        width: 100%;
        margin: 15px auto;
        font-size: 20px;
    }

    /* Component Judul */
    .content{
        margin: 10px;
    }

    .jawab-singkat{
        width: 100%;
    }
}

/* Ukuran Smartphone M */
@media screen and (max-width: 375px) and (min-width: 321px) {
    .container{
        width: 100%;
        margin: 0 auto;
        min-height: 2000px;
        font-size: 12px;
    }

    .main-menu{
        padding: 15px;
        margin: 10px;
    }

    .mobile-nav{
        font-size: 20px;
        width: 100%;
        margin: 0 auto;
    }

    .bottom-menu{
        width: 100%;
        margin: 15px auto;
        font-size: 20px;
    }

    /* Component Judul */
    .content{
        margin: 10px;
    }

    .jawab-singkat{
        width: 100%;
    }
}

/* Ukuran Smartphone L */
@media screen and (max-width: 480px) and (min-width: 376px) {
    .container{
        width: 100%;
        margin: 0 auto;
        min-height: 2000px;
        font-size: 15px;
    }

    .main-menu{
        padding: 15px;
        margin: 10px;
    }

    .mobile-nav{
        font-size: 25px;
        width: 100%;
        margin: 0 auto;
    }

    .bottom-menu{
        width: 100%;
        margin: 15px auto;
        font-size: 25px;
    }

    /* Component Judul */
    .content{
        margin: 10px;
    }

    .jawab-singkat{
        width: 100%;
    }
}



/* Ukuran Tab */
@media screen and (max-width: 800px) and (min-width: 481px) {
    .container{
        width: 100%;
        margin: 0 auto;
        min-height: 2000px;
    }

    .mobile-nav{
        width: 100%;
        margin: 0 auto;
    }

    .bottom-menu{
        width: 80%;
        margin: 15px auto;
    }

    /* Component Judul */
    .content{
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Ukuran Tab 2 */
@media screen and (max-width: 950px) and (min-width: 801px){
    .mobile-nav{
        font-size: 20px;
    }

    .container{
        font-size: 15px;
    }

    .main-menu{
        padding: 15px;
        margin: 8px;
    }

    .bottom-menu{
        font-size: 20px;
    }
}

/* Ukuran 1040 */
@media screen and (max-width: 1024px) and (min-width: 951px) {
    .container{
        width: 50%;
        margin: 0 auto;
        min-height: 2000px;
    }

    .mobile-nav{
        width: 50%;
    }

    .bottom-menu{
        width: 50%;
    }
}

/* Ukuran 4K */
@media screen and (max-width: 2560px) and (min-width: 1441px) {
    .container{
        margin: 0 auto;
        min-height: 2000px;
        font-size: 30px;
    }

    .mobile-nav{
        font-size: 35px;
        margin: 0 auto;
    }

    .bottom-menu{
        font-size: 35px;
        margin: 15px auto;
    }

    /* Component Judul */
    .content{
        margin-left: 10px;
        margin-right: 10px;
    }
}