/* Custom Umum */
@font-face {
    font-family: 'Source Sans Pro';
    src: url(../fonts/SourceSansPro-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: #dddee9;
}

/* Top Navigasi */
nav{
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
}

.mobile-nav{
    width: 40%;
    margin: 0 auto;
    display: flex;
    font-size: 25px;
    background-color: #424874;
}

.mobile-nav a{
    color: #DCD6F7;
}

.logo{
    flex: 50%;
    padding: 10px 15px;
    text-align: left;
}

.user{
    flex: 50%;
    padding: 10px 15px;
    text-align: right;
}

/* Body Content */
.container{
    height: 1000px;
    width: 40%;
    margin: 0 auto;
    padding-top: 5%;
    font-size: 20px;
}

.container a{
    color: #424874;
}

.row-menu{
    display: flex;
    text-align: center;
}

.main-menu{
    flex-grow: 1;

    padding: 25px;
    margin: 15px;
    background-color: #fff;
    border-radius: 10px;

    -webkit-box-shadow: 2px 4px 14px -10px rgba(132,132,132,0.83); 
    box-shadow: 2px 4px 14px -10px rgba(132,132,132,0.83);
    -moz-box-shadow: 2px 4px 14px -10px rgba(132,132,132,0.83);
}

.row-content{
    width: 100%;
}

/* Component Content */
.content{
    padding: 0px 0px 20px 0px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px solid #DCD6F7;
    margin-bottom: 10px;
}

.line{
    background-color: #424874;
    height: 10px;
    border-radius: 20px 20px 0px 0px;
    margin: 0;
}

.bungkus-content{
    padding: 10px 20px 10px 20px;
}

.judul{
    margin-bottom: 15px;
}

.bungkus-content p{
    font-size: 15px;
}

input[type=text]{
    font-size: 14px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dddee9;
    outline: none;
    padding: 10px;
}

input[type=text]:hover{
    border-bottom: 1px solid #424874;
}

input[type=text]:focus {
    border-bottom: 1px solid #424874;
}

.jawab-singkat{
    width: 50%;
}

textarea{
    font-size: 14px;
    border: 1px solid #dddee9;
    outline: none;
    padding: 10px;
    width: 100%;
}

textarea:hover{
    border: 1px solid #424874;
}

textarea:focus{
    border: 1px solid #424874;
}

/* Bottom Menu */
footer{
    position: fixed;
    bottom: 0;
    overflow: hidden;
    width: 100%;
}

.bottom-menu{
    width: 40%;
    margin: 15px auto;
    display: flex;
    font-size: 25px;
    background-color: #fff;
    padding: 10px 0;
    
    margin-bottom: 10px;
    border-radius: 50px;

    -webkit-box-shadow: 0px -6px 14px -10px rgba(132,132,132,0.83); 
    box-shadow: 0px -6px 14px -10px rgba(132,132,132,0.83);
    -moz-box-shadow: 0px -6px 14px -10px rgba(132,132,132,0.83);
}

.bottom-menu a{
    color: #424874;
}

.menu{
    margin: 0 auto;
}

/* Ukuran Smartphone */
@media screen and (max-width: 480px) {
    .container{
        height: 1000px;
        width: 100%;
        margin: 0 auto;
        padding-top: 15%;
    }

    .mobile-nav{
        width: 100%;
        margin: 0 auto;
    }

    .bottom-menu{
        width: 100%;
        margin: 15px auto;
    }

    /* Component Judul */
    .content{
        margin: 10px;
    }

    .jawab-singkat{
        width: 100%;
    }
}

/* Ukuran Tab */
@media screen and (max-width: 768px) and (min-width: 481px) {
    .container{
        height: 1000px;
        width: 100%;
        margin: 0 auto;
        padding-top: 15%;
    }

    .mobile-nav{
        width: 100%;
        margin: 0 auto;
    }

    .bottom-menu{
        width: 80%;
        margin: 15px auto;
    }

    /* Component Judul */
    .content{
        margin-left: 10px;
        margin-right: 10px;
    }
}